html{
    font-size: 10px;
  }  
  body{
    line-height: 1.5;
    color: #333;
    margin: 0;
    background-color:burlywood;
  }
.titleMain {
    background-color:burlywood;
    border-radius:100px;
  }
  #main {
      padding: 20px;
      margin: 30px 8px;
      
         }
  #title{
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
        text-decoration: underline;
        margin-bottom: auto;
  }
  #title-caption{
      text-align:center;
      font-size: 2.0rem;
  }
  #image{
    display: block;
    max-width: 269px;
    max-height: 365px;
    margin-left: auto;
    margin-right: auto;
  }
  #img-div {
    display: block;
    max-width: 100%;
    margin: auto;
    background-color:antiquewhite;
    border-radius:12px;
    padding: 2%;

  }
  #img-caption{
    font-size: 1.7rem;
    text-align: center;
  } 
  #tribute-info{
    margin-left:240px;
    font-size:1.5rem;
    list-style-position:inside; 
    text-align:justify;
    list-style:square;
  }
  #tribute-link{
    text-align:center;
    font-size:1.5rem;
  }
