body{
  background-color: #444;
  color:#CCC;
}
.mainContainer{
  display: flex;
  /* flex-direction: column; */
}
.flexContent{
  flex:1;
}
.flexNav{
  /* display: flex; */
  position: sticky;
  min-height: 100vh;
  width:25%;
  height:max-content;
  max-width: 95vw;
  /* flex-wrap:wrap; */

}
li {
  padding:3px;
  margin-left:3px;
}
#main-doc {
  /* position:absolute; */
  /* margin-left: 250px; */
  /* padding:20px; */
  /* margin-bottom:110px; */
}
#main-doc header{
  text-decoration: underline;
  font-size: 1.7em;
}
.main-section{
  text-align: justify;
  padding: 3px; 
  margin-bottom: 2px;
  margin-right:10px
}
.main-section ul{
  margin:15px;
  padding:0;
}
code{
  background-color: black;
  display:block;
  font-size: 1rem;
  padding:15px;
  margin:10px;
  color: greenyellow;
}
#navbar li{
  list-style-type: none;
  margin: 1px;
}
 #navbar {
  /* position: fixed; */
  min-width:290px;
  top:10px;
  left:0px;
  /* width:300px; */
  /* height:100%; */
  max-width: 15vw;
}
#navbar header{
  text-align:justify;
  font-size:1.4em;
}
#navbar button {
  width:200px;
  cursor: pointer;
}
button:hover{
  color: black;
  transform: scale(1.08,1.1);
  border-radius: 15px;
  background-color: #AAA;
}
@media only screen and (max-width:600px){ 
  #navbar{
    /* z-index:1; */
    /* max-height: 450px; */
  }
  .mainContainer{
    flex-direction: column;
  }
  .flexNav{
    flex-direction: row;
    position: fixed;
    flex-wrap: wrap;
    /* z-index: 1; */
  }
    #main-doc{
    
    /* margin-top:460px; */
    /* margin-left:10px; */
  }
 }